body{
    background: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:darkgray;
    text-align: center;
}

.about{
    color:crimson;
    margin-left: 5px;
}

.skills{
    background-color:azure;
}

.projects{
    text-align: center;
}

.contact {
    font-family: 'Courier New', Courier, monospace;
}