body{
    background: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:darkgray;
    text-align: center;
}

a{
    text-decoration: none;
    color: purple;
}

.about{
    color:crimson;
    margin-left: 5px;
}

.skills{
    background-color:azure;
}

.projects{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.project {
    width: 30%;
    margin: 10px;
    margin-top: 25px;
    padding: 20px 10px;
    background: #5F9EA0;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(242, 247, 0);
display: block;
margin: auto;
}

.project p{
    text-align: center;
    margin: 15px;
}

.resume{
    margin: 10px;
    color: black;
}

.contact {
    font-family: 'Courier New', Courier, monospace;
}